html {

}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.pesquisa{

    margin: 10px;
    text-align: right;
}

.resultados{
    margin: 5px;
    padding: 2px;
}

mat-card{
    margin: 5px;
}

.sublinhado{
    text-decoration: underline;
}

.icons-action{
  justify-content: flex-end;
  text-align: right
}
